{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- 關於
{% endblock %}

{% block body %}
	<div class="container">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore impedit fugiat aspernatur repellendus velit non est atque! A voluptatum autem vitae fugiat! Enim eum deserunt a. Ex accusantium repudiandae delectus.</p>
		<p>Esse blanditiis corrupti tempora molestias. Aperiam aspernatur magni eos molestiae illum nesciunt suscipit quidem facere, ab magnam earum cumque officiis enim, unde nulla ipsam reiciendis eligendi et, eius dolores reprehenderit.</p>
		<p>Tempora vel laboriosam, repudiandae ullam hic explicabo amet quo at velit numquam perferendis iure. Libero eligendi distinctio porro tenetur eos. Odit ratione blanditiis vitae, sed rem et eveniet sequi excepturi?</p>
		<p>Sint incidunt quae, assumenda itaque aspernatur atque veniam repudiandae unde officiis molestiae modi. Necessitatibus quia repudiandae distinctio asperiores nulla? Minima est molestias deleniti provident? Quisquam eveniet fugiat reiciendis ad maxime?</p>
		<p>Ut magnam dicta, nam atque exercitationem similique veritatis totam modi libero aspernatur hic deserunt sit nostrum eveniet dolorum numquam. Atque consectetur vel quaerat fugit repudiandae nemo voluptatum quod voluptatem deserunt.</p>
		<p>Velit autem mollitia sunt adipisci omnis molestiae corporis eveniet, amet deserunt, exercitationem inventore commodi voluptates error accusantium expedita doloremque maiores a, debitis culpa sit aperiam. Natus debitis cum iure reiciendis?</p>
		<p>Qui voluptates architecto officiis doloremque fugiat delectus ab exercitationem sequi aliquam ratione illo, quae neque dicta sapiente, nobis dolore ut nisi fugit, vero perspiciatis iste laudantium eaque minima. Voluptatum, libero.</p>
		<p>Delectus dolorum dolorem in voluptatem provident commodi quisquam debitis numquam facilis adipisci. Totam, nobis ea mollitia quidem maiores fuga recusandae laudantium hic officiis reiciendis incidunt amet facere a quia adipisci.</p>
	</div>
{% endblock %}
