{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Bienvenue !
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Bienvenue sur ma TODO list !</h1>
	</div>
{% endblock %}
